APP_HOST=10.20.0.1
APP_PORT=8080
APP_BASE_URL=http://10.20.0.1:8080
OAUTH_HOST=10.20.0.1
OAUTH_PORT=9000
OAUTH_URL=http://10.20.0.1:9000
OAUTH_ISSUER=http://10.20.0.1:9000
OAUTH_CLIENT_ID=vpn-web-client
OAUTH_REDIRECT_URI=http://10.20.0.1:8080/callback
SESSION_SECRET=REPLACE_WITH_RANDOM_VALUE
DEMO_USER=student
DEMO_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

